$font-primary: 'Rubik', sans-serif;
$font-secundary: 'Inter', sans-serif;
$blue: #00A3FF;
$dark-200: #515151;
$white: #F9F9F9;
$gray: #BFBFBF;
$dark: #0B1421;
$banner-gradient: linear-gradient(270deg, rgba(6, 9, 15, 0.32) 0%, rgba(6, 9, 15, 0.9) 100%);
$card-gradient: linear-gradient(180deg, rgba(6, 9, 15, 0) 0%, #06090F 100%);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;