@import 'styles/variables.scss';

.cardContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 144px;
  position: relative;

  a {
    width: 100%;

    .card {
      cursor: pointer;
      width: 100%;
      height: 240px;
      margin-bottom: 8px;
      border-radius: 12px;
  
      display: flex;
      justify-content: center;
      position: relative;
  
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  
      p {
        position: absolute;
        bottom: 15px;
        font-family: $font-secundary;
      }
    }
  
    p {
      cursor: pointer;
      text-align: center;
    }
  }
}

@media (min-width: 678px) {
  .cardContainer {
    width: 160px;
  }
}