@import 'styles/variables.scss';

.cardContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 144px;
  position: relative;

  .card {
    width: 100%;
    height: 240px;
    background: $card-gradient, url('./img.png') center / cover no-repeat;
    margin-bottom: 8px;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    position: relative;

    p {
      position: absolute;
      bottom: 15px;
    }
  }
}

@media (min-width: 678px) {
  .cardContainer {
    width: 160px;
  }
}